/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

/* Mobile defaults */

.qImg {
  width: 100%;
}

h1 {
  visibility: hidden;
}

.qChoice {
    width: 100%;
    padding: 30px 5px;
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    font-family: "Helvetica";
    font-size: 18px;
    white-space: normal;
}

.choice {
  margin-bottom: 5px;
  position: relative;
}

.respImg {
  left: 36%;
}

header {
  text-align: center;
  height: 125px;
}

.result {
  min-width: 300px;
  width: 50%;
  margin: 0 auto 10px;
}

.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  .qImg {
    width: 65%;
  }

  h1 {
    font-size: 3vw;
    visibility: visible;
  }

  .qChoices {
    height: 120px;
  }

  .results {
    width: 600px;
  }

  .result {
    display: inline-block;
    min-width: auto;
    width: auto;
  }

  .questions {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
  }

  .respImg {
    left: 10px;
  }

  .choice {
    position: relative;
    float: left;
    width: 23%;
    height: 100%;
    margin: 0 1%; 
  }

  .qChoice {
    height: 100%;
    width: 100%;
    padding: 5px;
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    font-family: "Helvetica";
    font-size: 18px;
    white-space: normal;
  }

  header {
    display:flex;
    align-items:center;
  }

  .banQuote {
    margin: 0 auto;
  }

  .banImg {
    float: left;
  }
}